body {
  background-color: salmon;
  font-family: "Helvetica", "sans serif"
}

h1 {
  text-size: 150%;
  color: purple;
  background-color: yellow;
}

h2 {
  text-size: 130%;
  color: blue;
  background-color: yellow;
}

h3 {
  text-size: 120%;
  color: yellow;
  background-color: purple;
}


{p text-align: left}
